/* {
  border: 1px dotted red;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }*/

body {
  margin: 150px;
  position: absolute;
  height: 1350px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}




.box {
  width: 375px;
  height: 190px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: relative;
  bottom: 350px;
  left: 325px;
  border-radius: 25px;
}


.little {
  width: 150px;
  height: 150px;
  background-color: black;
  position: relative;
  bottom: 520px;
  left: 440px;
  z-index: 3;
  border-radius: 25px;
  background-image: url(images/profilepic.jpg);
  background-size: cover;
}

.little:hover {
  background-image: url(images/dogown.jpg);
  background-size: cover;
}

.name {
  font-family: "Parisienne";
  font-size: 75px;
  position: relative;
  bottom: 330px;
  left: 330px;
}

@-webkit-keyframes movingbox{
    0%{left:90%;}
    50%{left:10%;}
    100%{left:90%;}
  }




.leia {
  position: relative;
  bottom: 440px;
  left: 450px;
  -webkit-animation:movingbox 35s infinite;

}

.buttons img {
  position: relative;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  bottom: 430px;
  left: 250px;

}

.buttons img {
  border: 5px solid #ccc; float: left;
  margin: 10px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out; -o-transition: margin 0.5s ease-out; }

.buttons img:hover { margin-top: 8px; }

.buttons ul {
  list-style-type: none;

}


.buttons li {
  display: inline-block;
}


.cards figure {
  font-family: "Clicker Script";
  color: black;

  width: 15px;
  height:115px;

  border-radius: 25px;
  position: relative;
  bottom: 400px;
  left: 170px;
  margin: 5px;
}

.cards p {
  font-size: 40px;
  backface-visibility: hidden;

}

.cards figcaption {
  font-size: 18px;
  font-family: "Dancing Script", cursive;
}
div.flip-3d {
  perspective: 1200px; width: 20%; float: left;

}

div.flip-3d figure {
  position: relative;
  transform-style: preserve-3d;
  transition: 1s transform;
  font-size: 1.6rem;
  bottom: 400px;
}
div.flip-3d figure img {
  width: 100%; height: auto;
}

div.flip-3d figure figcaption {
  position:absolute;

  width: 100%; height: 100%; top: 0;
  transform: rotateY(.5turn) translateZ(1px);
  /*background: rgba(255,255,255,0.9);*/
  text-align: center;
  padding-top: 45%;
  opacity: 0.6;
  transition: 1s .5s opacity;
  backface-visibility: hidden;

}

div.flip-3d:hover figure {
  transform: rotateY(.5turn);
  }
div.flip-3d:hover figure figcaption {
  opacity: 1;

  }

div.flip-3d figure:after {
  content: " "; display: block;
  height: 8vw; width: 100%;
  transform: rotateX(90deg);
  background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);

}

/* underline!!
.figcaption a {
  text-decoration: none;
  font-color: black;
}*/

.heart {
  font-size: 135px;
  text-align: center;
  color: rgba(165, 25, 25, 1);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 600px;
  left: 420px;
  z-index: 1;
}

.heart a {
  position: relative;
  top: 549px;
  left: 440px;
  font-size: 22px;
  text-decoration: none;
  color: black;
  z-index: 3;
}

.pulse2 {
  -webkit-animation: pulse2 1s linear infinite;
  -moz-animation: pulse2 1s linear infinite;
  -ms-animation: pulse2 1s linear infinite;
  animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
  0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

}

@-moz-keyframes pulse2 {
  0% {
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

}

@-webkit-keyframes "pulse2" {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@-ms-keyframes "pulse2" {
  0% {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }

}
